/**Search CSS***/
.search_container 
{
      display: flex;
      justify-content: center;
      margin-top:4em;
      height: auto;
}
    
.search_box 
{
      border: 1px solid #ccc;
      width:200px;
      border-right: none;
      line-height: 2em;
}
    
.search_button 
{
      border: none;
      background: #000066;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      line-height: 2em;
      text-align: center;
}

.search_button:hover
{
      background:#E41B23;
}


#map 
{
    height:auto;
    width: 100%;
    margin-top: 3em;
    line-height: 30em;
    border: none;
}
  
 